{% load static %}
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!-- Meta -->
<meta name="description" content="">
<meta name="author" content="">

<!-- Favicon -->
<link rel="shortcut icon" type="image/x-icon" href="{% static 'images/reallogo.png' %}">



<!-- library css -->
<link href="{% static 'lib/@fontawesome/fontawesome-free/css/all.min.css' %}" rel="stylesheet">
<link href="{% static 'lib/ionicons/css/ionicons.min.css' %}" rel="stylesheet">
<link rel="stylesheet" href="{% static 'lib/sweetalert2/sweetalert2.min.css' %}">

<!----- theme css -->
<link href="{% static 'css/theme.css' %}" rel="stylesheet">
<link href="{% static 'css/custom.css' %}" rel="stylesheet">

