{% load static %}

<div class="header fixed-top">
  <div class="header-left">
    <a href="" class="burger-menu"><i data-feather="menu"></i></a>
  </div><!-- header-left -->

  <div class="header-right">
    <div class="dropdown dropdown-loggeduser">
      <a href="" class="dropdown-link" data-toggle="dropdown">
        <div class="d-flex">
            {{request.session.User_name}} <i data-feather="chevron-down"></i>
        </div><!-- avatar -->
      </a>
      <div class="dropdown-menu dropdown-menu-right">
        <div class="dropdown-menu-header">
          <div class="media align-items-center">
            <div class="media-body mg-l-10">
              <h6>{{request.session.User_name}}</h6>
              <span>Administrator</span>
            </div>
          </div><!-- media -->
        </div>
        <div class="dropdown-menu-body">
          <a href="{% url 'logout' %}" class="dropdown-item"><i data-feather="log-out"></i> Sign Out</a>
        </div>
      </div><!-- dropdown-menu -->
    </div>
  </div><!-- header-right -->
  </div>